<!DOCTYPE html>
<html>
<head>
  <title>Send us some anonymous tips!</title>
</head>
<body>
  <form action="/tips" method="POST">
    <input type="text" name="tips" placeholder="Feeling Tipsy?">
    <button type="submit">Save</button>
  </form>
</body>
</html>